@font-face {
    font-family: 'dosisregular';
    src: url(../../fonts/dosis/dosis-regular-webfont.woff2) format('woff2'),
         url(../../fonts/dosis/dosis-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.TitleHeader-Container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin:0px 20px;
}

.TitleHeader-Container :last-child{
    color:#9da3a6;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
}

.TitleHeaderCrossed {
    position: relative;
    display: inline-block;
    font-size: 30px;
    line-height: 59px;
    color: #000000;
    font-family: "dosisregular",sans-serif ;
    font-weight: 400;
    text-align: center;
}

.TitleHeaderCrossed::before{
    content:'';
    border-bottom: 1px solid black;
    width:120%;
    position: absolute;
    right: -10%;
    top: 50%;
}
.TitleHeader{
    position: relative;
    display: inline-block;
    font-size: 30px;
    line-height: 59px;
    color: #000000;
    font-family: "dosisregular",sans-serif ;
    font-weight: 400;
    text-align: center;
}
.TitleHeader::before{
    content:'';
    border-bottom: 1px solid black;
    width:101%;
    position: absolute;
    top: 50%;
    right:0.5%
}

.overline{
    width: 80%;
    border-top: 2px solid black;
}

.zIndex{
    z-index: 1;
}

.background{
    background: url(../../images/discographyTopBG.png) -20px 50px ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.gradient{
  background: -webkit-linear-gradient(#62a2ad, #92bdb7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 600px) {
    .TitleHeader-Container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin:0px 28vw 55px 28vw;
    }
    
    .TitleHeader{
        font-size: 50px;
        letter-spacing: 6px;
    }

    .TitleHeaderCrossed {
        font-size: 50px;
        letter-spacing: 6px;
    }
}